   <div class="home">
    <h2>Check out the weather in the city of your choice.</h2>
      <div class="left"><h1><a href="/bengaluru">Bangalore</a> or </h1></div>
      <div class="left search">
        <form method="GET" onsubmit="location.href = document.getElementById('city').value; return false;">
          <input type="text" name="city" id="city" />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="clear"></div>
    </div>