   <div class="home">
      <div class="left"><h1><a href="/bangalore">Bangalore</a> or </h1></div>
      <div class="left search">
        <form method="GET" onsubmit="location.href = document.getElementById('city').value; return false;">
          <input type="text" name="city" id="city" />
          <input type="submit" value="GO!" />
        </form>
      </div>
      <div class="clear"></div>
    </div>